<footer class="py-5 bg-body-tertiary">
    <div class="container ">
        <h2>Get The Fresh Cart App</h2>
        
        <p>we will send you a link , open it on your phone to download the app</p>
        <div class="container  w-90">
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-6">
                    <div>
                        <input class="form-control" type="text" placeholder="Email....">
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 text-center" >
                    <div class="buttons">
                        <button class="w-100">Send App Link</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex foot-logo mt-4 me-5 ">
            <div class="d-flex align-items-center gap-3">
                <p>Payment Parteners :</p>
                <img class="w-4" src="./assets/imgs/amazon.png" alt="">
                <img class="w-4" src="./assets/imgs/master.png" alt="">
                <img class="w-4" src="./assets/imgs/paypal.png" alt="">
            </div>
            <div class="d-flex align-items-center justify-content-end store ">
                <p class="text-dark">Get deliveries with feashCart</p>
                <img  class="w-25" src="./assets/imgs/appstore.png" alt="">
                <img  class="w-25" src="./assets/imgs/play.png" alt="">
            </div>
        </div>
    </div>
</footer>
<footer class="py-3 bg-dark">
    <div class="d-flex justify-content-center align-items-center">
        <p class="copyright m-0 text-white">© 2024 Mohamed Khalel. All rights reserved.</p>
        <a class="mx-2" href="https://www.linkedin.com/in/mohamed-nasrallah-a64041299?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin fa-2x text-white"></i></a>
        
    </div>
</footer>